body {
  overscroll-behavior: none;
  width: 100vw;
  height: 100vh;
  background-image: url("../public/assets/background.png");
  background-size: cover;
  background-position: center;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(17, 17, 17, 0.85);
}